body {
  width: 960px;
  text-align: center;
  margin: auto;
}

.gray {
  background: #ebebeb;
}

.secondary-gray {
  background-color: #777;
}

.row {
  margin-bottom: 5px;
  height: 60px;
}

.col-2 {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.col-2 section {
  margin-right: 5px;
  padding: 10px;
}

.col-2 section article {
  padding: 10px;
}

.col-2 section, .col-2 aside {
  width: 50%;
}
